h1{
    text-align: center
}


#form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    justify-content: center
}

.form2{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    justify-content: center
}

label{
    margin-top: 10px
}

input{
    margin-top: 5px
}

option{
    text-align: center
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    max-width: max-content
}